{% include 'base.html' %}
{% include 'navbar.html' %}

<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="">
<style>
.mySlides {display:none;}
</style>
<body style="background-color:Azure;">
{% block content %}
<h2 class="text-center">Welcome to Ecommerce Website</h2>
<div class="w3-content w3-display-container">
  {% for s in sld %}
  <img class="mySlides" src="{{s.image.url}}" style="width:100%">
  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
  {% endfor %}
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>
</body>
{% endblock %}
</html>
{% include 'footer.html' %}